name: Build

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
    tags-ignore:
      - '**'

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 8

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.1.0

      - name: Configure JDK
        uses: actions/setup-java@v3.5.1
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Test
        run: ./gradlew build
